<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
        defer></script>
    <script src="../javascripts/about.js" defer></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-white mt-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content container-fluid">
        <div class="row title justify-content-center">
            <div class="col">
                <h1 class="english hidden hidden-left">CLAY VANDER KOLK</h1>
                <h2 class="english hidden hidden-left">PERSONAL</h2>
                <h3 class="hawaiin hidden hidden-left">Ku’ia kahele aka na’au ha’aha’a</h3>
            </div>
        </div>
    </div>
    <div class="row row-about">
        <div class="col-4">
            <img class="me " src="../media/color-me.png" alt="">
        </div>
        <div class="col-6">
            <p class="about-text" style="text-align: center; font-weight: bold; font-family: serif; font-size: 1rem;">
                Aloha and thank
                you for checking out
                my website. My
                name is Clay Vander Kolk and
                I am a web
                developer from Hawaii. Before I explain more of my backgorund, I would love to give you more insight
                into who I am and what I'm passionate about!
            </p>
            <br>
            <p class="text about-text"> <span class="tab"></span>I am 23 years old and I love all sports (especialy
                soccer, surfing, climbing)
                and even
                played 4 years of collegiate soccer. I'm always down to go for a hike, adventure outside, or go for a
                run! I also love music - listening to it, playing it on the guitar, and singing it with my amazing wife!
                I also love people and I love collaboriating, building relationships, and being well connected. I love
                working and being around kids but I also have always connected well with people my age as well as older
                people. I think we can learn a multitidue from people of every age and stage of life, and I try to
                surround myself with diverse people to make the most of that. My brain works very mathematically, which
                is what brought me into the field of mathematics originally. I love problem solving and can easily find
                myself hyperfocused for hours to compelete a probem. On the flip side of that, I also have really
                developed a passion for creating art. I got into film cameras a while ago and since then, I have joined
                my wife's photogprahy business to shoot super8 film on the side. I also have a drone and we share a
                camera so that I can maximize my content creating. I get so much satisfaction from shooting videos and
                then editing and collecting them all into a final video that I am proud of. That being said, check out
                one of my all time favorite artist at the bottom of this page and check out the next section about my
                background!
            </p>
        </div>
    </div>
    <br>
    <div class="row row-about">
        <div class="col-4">
            <p class="text about-text"> <span class="tab"></span>Rewind almost 6 years ago, I was entering into college
                for engineering. I
                started a
                robotics team at my highschool because I loved creating things with my hands, as well as
                writing
                code and watching it translate to running functional robots. However, about a year into college, I
                found
                myself loving 2 main aspects of engineering: the code and the math. At that point I went through
                some
                significant life changes including the loss of my father. I decided I wanted to continue his legacy
                teacing
                and I could do that as a math educator. I then went on to graduate with a math education degree, while
                also
                taking an occasional coding class on the side. While I loved the teaching job I had, I found myself
                itching to be challenged more as well as learn more about coding and how I could potentially even do
                it
                on the side. From that point on, I decided to pursue software developement and began
                dedicating
                my weekends, and free time to learn code. After my teaching job ended, my wife and I moved out to
                Hawaii
                to experience the culture that my parents lived in before I was born. Since then I have continued to
                build a portfolio, take classes, and learn new languages and tools. I find myself struggling to put
                the
                computer away sometimes because I love coding and developing and I am so excited to be officially
                looking for a job. I am looking for Full Stack Web Developement but
                as
                I grow as a developer I look forward to seeing how I can maximize my artistic side but even more so,
                my
                mathematical, problem solving side. If you have any questions, feel free to contact me via my
                contact
                page or stick around for one last section where I will go through the different programs, languages,
                and
                tools I've learned and worked with over the last 8 months.
            </p>
        </div>
        <div class="col-4">
            <p class="text about-text">
                <span class="tab"></span>My web developement education process began with working through <a
                    href="www.odinproject.com"><u>The
                        Odin Project</u></a> and their intro to web developement free
                course. I learned <b>HTML, CSS, JS</b>, as well as command line languages. I then went through
                <u>Harvard's
                    CS50</u>
                class
                in which I learned some basics of <b>C, Python, SQL,</b> and again <b>HTML, CSS,</b> and
                <b>JS</b>. In college I took a
                computer science class that was intended for CS majors. In the class I learned <b>Python</b> and ended
                up
                building a checkers app as well as a computer opponent, which I never ended up beating! I had also
                done
                some coding with <b>C++</b> and <b>Arduino</b> in highschool and early college. I have then spent the
                last couple
                of
                months going through <u>Colt Steele's Udemy Web Developer Bootcamp</u>. I was able to master my skill
                sin
                <b>HTML</b>
                and <b>CSS</b> and then dive deep into <b>Vanilla JS.</b> We then learned back end programming and I was
                able to
                use
                tools like <b>Node.js, React, Express, MongoDB</b>, and much more! Check out the table for a list of all
                major
                ideas I developed over the course of this bootcamp! After completing my final project for the
                bootcamp,
                I have since taken courses in <b>MySQL</b> and <b>TypeScript</b>. While I have spent a good amount of
                time
                learning
                each of these topics, I think what advantages me more than any of the things I've learned is that I
                love
                the learning process and I strive to continue to grow as a developer. I want to grow into an
                experienced
                developer and grow into leadership rolls in which I can take on more repsonsibility and still
                continue
                to learn new languages, frameworks, and programs.
            </p>
        </div>
        <div class="col-3 skills">
            <h4 style="font-size: 1.5rem; margin: 20px auto; text-align: center;">Colt Steele Web Dev Bootcamp
                Skills
            </h4>
            <ul>
                <i>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Flexbox</li>
                    <li>Responsive Design</li>
                    <li>JavaScript</li>
                    <li>Asynchronous JavaScript - Promises, async/await, etc.</li>
                    <li>AJAX and single page apps</li>
                    <li>Bootstrap</li>
                    <li>ReactJS</li>
                    <li>SemanticUI</li>
                    <li>Bulma CSS Framework</li>
                    <li>DOM Manipulation</li>
                    <li>Unix(Command Line) Commands</li>
                    <li>NodeJS</li>
                    <li>NPM</li>
                    <li>ExpressJS</li>
                    <li>Templating</li>
                    <li>REST</li>
                    <li>SQL vs. NoSQL databases</li>
                    <li>MongoDB</li>
                    <li>Database Associations</li>
                    <li>Schema Design</li>
                    <li>Mongoose</li>
                    <li>Authentication From Scratch</li>
                    <li>Cookies & Sessions</li>
                    <li>Authorization</li>
                    <li>Common Security Issues - SQL Injection, XSS, etc.</li>
                    <li>Developer Best Practices</li>
                    <li>Deploying Apps</li>
                    <li>Cloud Databases</li>
                    <li>Image Upload and Storage</li>
                    <li>Maps and Geocoding</li>
                </i>
            </ul>
        </div>

        <div class="spotify">
            <iframe style=" border-radius:12px"
                src="https://open.spotify.com/embed/album/1pb3je8gXTs5dpRRTKhHRC?utm_source=generator&theme=0"
                width="80%" height="152" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
</body>

</html>